@use "@/styles/mixins" as m;

.container {
  position: sticky;
  top: 0;
  height: fit-content;
  padding-inline: 24px;
  padding-block: 24px 16px;
  @include m.flex($justify: space-between, $align: center, $gap: 12px);

  @include m.media(phone) {
    padding-inline: 5%;
    padding-block: 16px 12px;
  }
}

.left {
  flex-shrink: 0;
  @include m.flex($justify: space-between, $align: center, $gap: 20);
  @include m.media(phone) {
    gap: 0;
    flex-direction: column;
    align-items: start;
  }

  &__property {
    @include m.flex($justify: space-between, $align: center, $gap: 8);

    &__img {
      width: 48px;
      height: 48px;
      object-fit: contain;
    }
    @include m.media(phone) {
      &__img {
        display: none;
      }
    }

    &__details {
      @include m.flex($direction: column, $justify: space-between);

      @include m.media(phone) {
        > :last-child {
          display: none;
        }
      }
    }
  }
}

.right {
  @include m.flex($justify: space-between, $align: center, $gap: 32);
  @include m.media(laptop) {
    gap: 16px;
  }

  @include m.media(phone) {
    gap: 12px;
  }

  &__search {
    width: 320px;
    position: relative;
    @include m.flex($align: center);

    @include m.media(laptop) {
      width: 200px;
    }

    @include m.media(phone) {
      width: 100%;
    }

    @include m.media(xs) {
      background-color: red;
      display: none;
    }

    &__icon {
      position: absolute;
      left: 16px;
    }

    & input {
      height: 40px;
    }
  }

  &__userDetails {
    flex-shrink: 0;
  }
}
