@use "@/styles/mixins" as m;

.container {
  padding-block: 24px;
  padding-inline: 24px 32px;
  display: grid;
  grid-template-columns: 50px 2fr 1fr 2fr 1fr 1.5fr;
  gap: 16px;

  @include m.media(desktop) {
    grid-template-columns: 50px 2.5fr 1.5fr 1.5fr 1fr 1fr;
  }
  @include m.media(laptop) {
    grid-template-columns: 50px 2fr 1.5fr 1fr;
  }
  @include m.media(tablet) {
    grid-template-columns: 50px 2fr 2fr 1fr;
  }

  @include m.media(phone) {
    gap: 10px;
    grid-template-columns: 50px 2fr max-content;
    padding: 10px !important;
  }

  * {
    flex-shrink: 0;
  }

  > :last-child {
    justify-self: end;
  }

  &__detail1 {
    width: min-content;
    @include m.flex($direction: column, $gap: 8px, $justify: start);

    @include m.media(tablet) {
      gap: 4px;
      width: max-content;
    }

    &__info {
      @include m.flex($justify: space-between, $gap: 12px, $align: center);

      &__divider {
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: #f1f3f5;

        @include m.media(laptop) {
          display: none !important;
        }
      }

      & > * {
        @include m.flex($align: center, $gap: 12px);
      }

      @include m.media(tablet) {
        & :first-child {
          display: none;
        }
      }
    }
  }

  &__detail2 {
    padding-inline: 10px;
    @include m.media(laptop) {
      display: none !important;
    }
  }

  &__detail3 {
    @include m.flex($direction: column, $gap: 12px, $justify: start);

    @include m.media(phone) {
      display: none !important;
    }

    & > div {
      @include m.flex($gap: 12px, $justify: start, $align: center);
    }
  }

  &__detail4 {
    @include m.media(laptop) {
      display: none !important;
    }
  }
}
