@use "@/styles/mixins" as m;

.container {
  @include m.flex($justify: center);
  min-height: 90vh;
  width: 100%;

  &__left {
    flex: 1;
    @include m.flex($direction: column, $justify: space-between);
    margin-inline: 120px 72px;
    margin-block: 96px 32px;
    gap: 64px;
    min-height: 100%;

    @include m.media(tablet) {
      margin-inline: 72px 40px;
      margin-block: 68px 20px;
    }
    @include m.media(phone) {
      margin-inline: 8% 8% !important;
      margin-block: 45px 20px;
      gap: 64px;
    }

    &__content {
      @include m.flex($direction: column, $gap: 32px);
      @include m.media(phone) {
        gap: 16px;
      }
    }
  }

  &__banner {
    width: 50%;
    object-fit: cover;
    @include m.media(tablet) {
      width: 35%;
    }
    @include m.media(phone) {
      display: none;
    }
  }
}
