@use "@/styles/mixins" as m;

.container {
  @include m.flex($direction: column, $gap: 32);
  @include m.media(phone) {
    gap: 24px;
  }

  &__backBtn {
    @include m.flex($align: end, $gap: 8);
    width: fit-content;
  }

  &__header {
    @include m.flex($direction: column, $gap: 12);
    @include m.media(phone) {
      gap: 8px;
    }
  }

  &__form {
    @include m.flex($direction: column, $gap: 24);

    @include m.media(phone) {
      gap: 18px;
    }

    &__inputs {
      @include m.flex($direction: column, $gap: 24);
      max-height: 23vw;
      overflow-y: auto;

      @include m.media(tablet) {
        max-height: 35vw;
      }

      @include m.media(phone) {
        max-height: fit-content;
        gap: 18px;
      }
    }

    &__info {
      @include m.flex($align: center, $gap: 12);
      padding-inline: 20px;
      padding-block: 16px;
    }
  }
}
