@use "sass:map";
@use "variables" as *; // import all variables from _variables.scss

// =======================
// FLEXBOX
// =======================
@mixin flex($direction: row, $justify: flex-start, $align: stretch, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

// =======================
// CENTERING
// =======================
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// =======================
// MEDIA QUERY
// =======================
@mixin media($size) {
  $width: map.get($breakpoints, $size);
  @if $width {
    @media (max-width: $width) {
      @content;
    }
  } @else {
    @warn "No value found for breakpoint `#{$size}`.";
  }
}
