@use "@/styles/mixins" as m;

.container {
  display: flex;
  max-width: 100vw;
}

.content {
  flex: 1;
  @include m.flex($direction: column);

  @include m.media(tablet) {
    margin-inline-start: 60px;
  }

  &__main {
    flex: 1;
  }
}
