@use "@/styles/mixins" as m;

.container {
  padding: 24px;
  @include m.flex($direction: column, $gap: 24px);

  @include m.media(phone) {
    padding-inline: 2%;
    padding-block: 12px;
    gap: 16px;
  }
}

.content {
  @include m.flex($direction: column, $gap: 24px);

  @include m.media(phone) {
    gap: 16px;
  }

  &__header {
    @include m.flex($justify: space-between, $align: center);

    & button {
      width: fit-content;
    }
  }
}
